body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.current-weather {
  list-style: none;
  text-align: center;
  margin: 20px;
}

.search-weather {
  text-align: center;
  margin: 50px;
}
